{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="{% url 'login' %}">
          <img src="{% static "images/icon.svg" %}" alt="icon" />
        </a>
        <h3>Reset Your Password</h3>
        <p>Hello , Welcome To Reset Your Password!</p>
      </div>

      <form action="" method="POST" class="form auth__form">
        {% csrf_token %}

        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#password">Password: </label>
          <input
            class="input input--password"
            id="formInput#password"
            type="password"
            name="password"
            placeholder="*******"
            required*
          />
        </div>

        <div class="auth__actions">
          <a href="{% url 'password_reset_complete' %}"><button class="btn btn--sub btn--lg" type="submit">Reset</button></a>
        </div>
      </form>
    </div>
  </div>


{% endblock content %}