{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="{% url 'login' %}">
          <img src="{% static "images/icon.svg" %}" alt="icon" />
        </a>
        <h3>Reset Completed Successfully</h3>
        <h1>Congratulations</h1>
      </div>

      <form action="" class="form auth__form">

        <!-- Input:Password -->
        <div class="form__field">
          <h3>Your Password has been Changed Successfully </h3>
        </div>
        
      </form>
    </div>
  </div>


{% endblock content %}