{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="{% url 'login' %}">
          <img src="{% static "images/icon.svg" %}" alt="icon" />
        </a>
        <h3>Reset Confirmation</h3>
        <p>Welcome To Password Reset</p>
      </div>

      <form action="" method="POST" class="form auth__form">
        {% csrf_token %}

        <!-- Input:Password -->
        <div class="form__field">
          <h3>The Link to reset the password has been sent to email on which account is created only </h3>


          <p>If you don't get email so Sorry your email you provided is incorrect. Please provide us email on which you created account</p>
        </div>

      </form>
    </div>
  </div>


{% endblock content %}