{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/static/css/Uvflow.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>UWNEST</title>
</head>
<body>
        <header class="navbar">
            <a href="#"><h1>UWNEST</h1></a>
            <a><h3>Login</h3></a>
        </header>
        <main class="main-content">
                <div class="main-text-area">
                    <h1 class="mainline">Explore thousands of Properties from UWNEST</h1>
                    <i class="fa fa-search search-icon" style="font-size:24px"></i>
                    <input type="text" id="search-field" placeholder="search here for professor or courses"/>
                    <p id="subline">Plan your Property • Read Description • Export your schedule</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {% if page == 'register' %}
                    <div class="form-box">
                        <div class="header-text">
                            Sign Up Form
                        </div>
                        <input placeholder="username" type="text" name='username'>
                        <input placeholder="Email Address" type="email" name='email'>
                        <input placeholder="Password" type="password" name="password">
                        <input placeholder="Confirm Password" type="password" name="password2">
                        <span class="forget-pass"><a href="{% url 'login' %}">Already Have Account</a></span>
                        <button>Sign Up</button>
                       
                    </div>
                    {% else %}
                    <div class="form-box">
                        <div class="header-text">
                            Login Form
                        </div>
                        <input placeholder="Enter Your username" type="text" name='username'>
                        <input placeholder="Enter Your Password" type="password" name='password'>
                        <span class="forget-pass"><a href="{% url 'reset_password'%}">Forget Password?</a></span>
                        <span class="forget-pass"><a href="{% url 'register'%}">Did not have an account</a></span> 
                        <br>
                        <button>login</button>
                        <div class="connect-button">
                            <a href="https://www.facebook.com"  class="facebook-button">
                                <span class="facebook-logo"><i class="fa fa-facebook-f"></i></span>
                                Continue with Facebook
                            </a>
                            <a href="https://www.google.com"  class="facebook-button">
                                <span class="facebook-logo"><i class="fa fa-google"></i></span>
                                Continue with Google
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </form>
        </main>
        <footer id="page-foot">
            <ul id="foot-list1" class="foot-list">
                <li><a href="{% url 'properties' %}">Home</a></li>
                <li><a href="{% url 'properties' %}">About</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <ul id="foot-list2" class="foot-list">
                <a href="#"><i class="fa fa-facebook-f"></i>Facebook</a>
                <a href="#"><i class="fa fa-envelope"></i>Email</a>
            </ul>
        </footer>
</body>
</html>
